.nhsdarkblue{background-color:#003087;color:#fff}
.nhsblue{background-color:#005eb8;color:#fff}
.nhsbrightblue{background-color:#0072ce;color:#fff}
.nhslightblue{background-color:#41b6e6;color:#000}
.nhsaquablue{background-color:#00a9ce;color:#fff}
.nhsblack{background-color:#231f20;color:#fff}
.nhsdarkgrey{background-color:#425563;color:#fff}
.nhsmidgrey{background-color:#768692;color:#fff}
.nhspalegrey{background-color:#e8edee;color:#000}
.nhsdarkgreen{background-color:#006747;color:#fff}
.nhsgreen{background-color:#009639;color:#fff}
.nhslightgreen{background-color:#78be20}
.nhsaquagreen{background-color:#00a499;color:#fff}
.nhspurple{background-color:#330072;color:#fff}
.nhsdarkpink{background-color:#7c2855;color:#fff}
.nhspink{background-color:#ae2573;color:#fff}
.nhsdarkred{background-color:#8a1538;color:#fff}
.nhsred{background-color:#da291c;color:#fff}
.nhsorange{background-color:#ed8b00;color:#fff}
.nhswarmyellow{background-color:#ffb81c}
.nhsyellow{background-color:#fae100}